<mat-card *ngIf="uid.length == 0" style="margin: 50px; padding: 12px">
    <form class="example-form">
        <mat-form-field class="example-full-width" style="width: 400px">
          <mat-label>Enter your email:</mat-label>
          <input matInput #emailInput>
        </mat-form-field>
    </form>  
    <button style="width: 80px" mat-raised-button (click)="set_uid(emailInput.value)">Submit_id</button>
</mat-card>

<mat-card *ngIf="uid.length != 0" style="margin: 50px; padding: 12px">
    <mat-card-content>
    <p>{{tweet["data"]["text"]}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="clicked('0')">Not EDU</button>
        <button mat-button (click)="clicked('1')">Is EDU</button>
      </mat-card-actions>
</mat-card>

<router-outlet />
