.title{
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 15px;
    font-weight: bolder;
    color: white;
    font-size: 25px !important;
}

.card-container{
    margin: 0px 100px;
}

.card-content{
    margin: 2rem 2rem;
}