<mat-card class="elevation" *ngIf="displayableData" style="height: 100%">
  <ng-container *ngIf="displayableData?.type === 'stat-value'">
    <app-stat-value [displayableData]="displayableData"></app-stat-value>
  </ng-container>
  

  <ng-container *ngIf="displayableData?.type === 'stat-trend'">
    <app-stat-trend [displayableData]="displayableData"></app-stat-trend>
  </ng-container>

  <ng-container *ngIf="displayableData?.type === 'stat-comparison'">
    <app-stat-value [displayableData]="displayableData"></app-stat-value>
  </ng-container>
</mat-card>


