<!-- metric-search.component.html -->
<form [formGroup]="stateForm">
  <mat-form-field  style="width: 100%" appearance="fill">
    <mat-label>Metric Group</mat-label>
    <input matInput [matAutocomplete]="auto" formControlName="metricGroup" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-optgroup
        *ngFor="let group of metricGroupOptions | async"
        [label]="group.first"
      >
        <mat-option *ngFor="let name of group.names" [value]="name">
          {{ name }}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form>
