<form [formGroup]="stateForm">
  <mat-form-field style="width: 100%" appearance="fill">
    <mat-label>Search by metrics</mat-label>
    <input
      [matTooltip]="(getDisabledTooltip() | async) ?? ''"
      matInput
      [matAutocomplete]="auto"
      formControlName="metricGroup"
      [formControl]="metricCtrl"
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
      (input)="onSearchInputChange()"
      #metricInput
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-optgroup
        *ngFor="let group of metricGroupOptions | async"
        [label]="group.first"
      >
        <mat-option *ngFor="let name of group.names" [value]="name">
          {{ name }}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-chip-grid #chipGrid aria-label="Metric selection">
  <mat-chip-row
    *ngFor="let metric of selectedMetrics"
    color="accent"
    highlighted
    (removed)="remove(metric)"
  >
    {{ metric }}
    <button matChipRemove [attr.aria-label]="'remove ' + metric">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip-row>
</mat-chip-grid>
