/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();


html, body {
  height: 100%;
  margin: 0px;
}



$crimson-palette: (
  900: #a51e37,
  800: #b52741,
  700: #c22c49,
  600: #d43451,
  500: #e43c54,
  400: #de5068,
  300: #d37182,
  200: #e198a5,
  100: #f4ccd7,
  50: #faebf0,

  contrast: (
    900: white,
    800: white,
    700: white,
    600: white,
    500: white,
    400: white,
    300: white,
    200: rgba(black, 0.87),
    100: rgba(black, 0.87),
    50: rgba(black, 0.87),
  ),
);

$my-complementary: (
  900: #0060ab,
  800: #0081cc,
  700: #0092e0,
  600: #00a6f3,
  500: #00b4ff,
  400: #00c0ff,
  300: #23ccff,
  200: #74dafe,
  100: #aee9fe,
  50: #dff7ff,

  contrast: (
    900: white,
    800: white,
    700: white,
    600: white,
    500: white,
    400: black,
    300: black,
    200: rgba(black, 0.87),
    100: rgba(black, 0.87),
    50: rgba(black, 0.87),
  ),
);


$my-primary: mat.define-palette($crimson-palette, 900);
$my-accent: mat.define-palette($my-complementary, 600);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-typography: mat.define-typography-config(
  $font-family: 'Open Sans',
);


$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: $my-typography,
 density: 0,
));

@include mat.core-theme($my-theme);
@include mat.typography-hierarchy($my-theme);
@include mat.all-component-themes($my-theme);


