<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">


    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
  
        <div class="col-38">
  
            <div class="section-heading">
                <h1>Welcome</h1>
                <h2>Welcome to Tide Tweet Metrics! Tailored for the Computer Science Department at the University of Alabama, our platform is dedicated to amplifying our social media impact through insightful metrics</h2>
            </div>

  
        </div>
  
    </div><!--End of Row-->
  </header>