<mat-card
  class="elevation"
  [ngClass]="{ shake: (editMode | async) && editModeHook && !hoverState }"
  (mouseenter)="toggleHover(true)"
  (mouseleave)="toggleHover(false)"
>
  <button
    *ngIf="(editMode | async) && editModeHook"
    mat-icon-button
    class="delete-icon"
    (click)="onDelete()"
  >
    <mat-icon>close</mat-icon>
  </button>

  <ng-container *ngIf="isStatValue(displayableData)">
    <app-stat-value
      [displayableData]="displayableData"
      [color]="cardColor"
    ></app-stat-value>
  </ng-container>

  <ng-container *ngIf="isStatTrend(displayableData)">
    <app-stat-trend
      [displayableData]="displayableData"
      [color]="cardColor"
    ></app-stat-trend>
  </ng-container>

  <ng-container *ngIf="isStatComp(displayableData)">
    <app-stat-comp
      [displayableData]="displayableData"
      [color]="cardColor"
    ></app-stat-comp>
  </ng-container>
</mat-card>
