<h2 mat-dialog-title class="title">Add Graph</h2>

<div class="search-container">
  <!-- Search Bar -->
  <div class="search-bar">
    <app-metric-search
      (searchValueChanged)="onSearchValueChange($event)"
      (metricsChanged)="onMetricsChanged($event)"
      [isEnabled]="isEnabled"
    ></app-metric-search>
  </div>
  <!-- Owner Search Bar-->
  <div class="owner-search">
    <app-owner-search
      [metricName]="'tweet_likes-sum'"
      [defaultOwners]="['alabama_cs', '_global']"
      (ownersChanged)="onOwnersChanged($event)"
      [isAllowed]="true"
      style="width: 100%"
    >
    </app-owner-search>
  </div>
</div>

<mat-dialog-content class="mat-typography content">
  <div class="grid-container">
    <app-reactive-generic-graph
      [displayableData]="graphDisplayables"
    ></app-reactive-generic-graph>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="[(graphDisplayableReqSubject | async)!]"
    cdkFocusInitial
  >
    Add
  </button>
</mat-dialog-actions>
