<div class="dashboard-container">
  <div class="title-container"></div>

  <!-- NEW DASHBOARD -->
  @if (isEmpty$() | async) {
  <div class="empty-container">
    <div class="empty-card">
      <h5 class="card-title">Welcome to your new dashboard!</h5>
      <div class="card-content">
        <h6 class="text">
          To get started add a grid by click Grid Edit (above) and add grid.
        </h6>
      </div>
    </div>
  </div>
  }

  <div
    cdkDropList
    [cdkDropListData]="localGrids"
    (cdkDropListDropped)="drop($event)"
  >
    <div *ngFor="let grid of grids$ | async; let isFirst = first">
      <div
        class="grid-container"
        cdkDragLockAxis="y"
        cdkDrag
        [cdkDragDisabled]="!(editMode | async)"
      >
        <h2 class="title-black" [style.color]="isFirst ? 'white' : null">
          @if (editMode | async) {
          <div class="move-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
              ></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          }
          {{ grid.name.charAt(0).toUpperCase() + grid.name.slice(1) }}
        </h2>

        @if (grid.type == 'metric') {
        <app-card-grid
          [page]="(pageName$ | async)!"
          [name]="grid.name"
          maxCardWidth="30rem"
          cardHeight="8rem"
          maxColSize="1fr"
          minColSize="18rem"
        ></app-card-grid>
        } @else {
        <app-graph-grid
          [page]="(pageName$ | async)!"
          [name]="grid.name"
          [cardHeight]="'auto'"
          [maxColSize]="'1fr'"
          [minColSize]="minColSize"
        ></app-graph-grid>
        }
      </div>
    </div>
  </div>
  <!-- Footer section; visible only if there's at least one grid present -->
  <div
    *ngIf="((grids$ | async) ?? []).length > 0"
    class="dashboard-footer"
  ></div>
</div>
