<mat-card class="card-content"> 
    <ag-charts-angular style="height: 100%;" [options]="chartOptions">
    </ag-charts-angular>
  </mat-card>

  <mat-card class="large-card-content"> 
    <ag-charts-angular style="height: 100%;" [options]="chartOptions1">
    </ag-charts-angular>
  </mat-card>

  <mat-card class="card-content"> 
    <ag-charts-angular style="height: 100%;" [options]="chartOptions2">
    </ag-charts-angular>
  </mat-card>

  <mat-card class="large-card-content"> 
    <ag-charts-angular style="height: 100%;" [options]="chartOptions3">
    </ag-charts-angular>
  </mat-card>

  <mat-card class="card-content"> 
    <ag-charts-angular style="height: 100%;" [options]="chartOptions6">
    </ag-charts-angular>
  </mat-card>