:host {
  display: block;
  background-color: #808080;
  min-height: 100vh;
}



.card-content{
  margin: 0 auto 3rem;
  max-width: 50rem;
}

.large-card-content{
  margin: 0 auto 3rem;
  max-width: 80%;
}
