<app-header></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened class="custom-sidenav">
        <div class="example-button-row">
            <button mat-stroked-button>Dashboard</button>
        </div>
        <div class="example-button-row">
            <button mat-stroked-button>Graph Builder</button>
        </div>
        <div class="example-button-row">
            <button mat-stroked-button>Tweet Optimizer</button>
        </div>
        <div class="example-button-row">
            <button mat-stroked-button>Account</button>
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <app-dashboard></app-dashboard>
    </mat-sidenav-content>
</mat-sidenav-container>