

.dataCardContainer {
    margin: 16px;
    display: grid;
    gap: 16px;
    grid-template-rows: repeat(2, auto-fit);
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
}

.graphContainer {
    margin: 16px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-content: center;
}

.graphItem--double {
    grid-column: span 2; /* Make this item span two columns */
}