:host {
  display: block;
}

.flex-container {
  scroll-behavior: smooth;
  display: flex;
  overflow-x: auto; /* Allow horizontal scrolling */
}

.flex-container::-webkit-scrollbar {
  display: none;
}
.no-shrink {
  flex-shrink: 0; /* Prevent cards from shrinking */
  // Other styles for each mat-card can also be placed here
  height: 300px; 
  width: 300px; 
  margin: 12px; 
  background-color: blue
}