<mat-form-field class="search-bar" appearance="fill" style="width: 50%">
  <mat-label>Owners</mat-label>
  <mat-chip-grid #chipGrid aria-label="Owner selection">
    @for (owner of selectedOwners; track owner) {
    <mat-chip-row color="accent" highlighted (removed)="remove(owner)">
      {{ owner }}
      <button matChipRemove [attr.aria-label]="'remove ' + owner">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
  </mat-chip-grid>
  <input
    matInput
    placeholder="New Owner..."
    #ownerInput
    [formControl]="ownerCtrl"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (owner of filteredOwners | async; track owner) {
    <mat-option [value]="owner">{{ owner }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
