
:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-dialog-content{
  max-height: unset !important;
  flex: 1 0 0;
}

.grid-container {

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.scrollable-content {
  background-color: #f8f9fa;  // Off-white background color
  grid-column: span 1;
}
.recommend-cards{
  grid-column: span 2;
}

.title{
  font-weight: bold;
  font-size: 20px; 
  letter-spacing: -.3px;
}

.sub-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 1rem; /* Spacing below the subtitle for visual separation */
}

.card-margin {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-dialog-content {
  flex: 1;  // Allow content to expand and fill available space
  overflow-y: auto;  // Just in case content overflows
}

mat-dialog-actions {
  justify-content: flex-end;  // Align buttons to the right
  width: 100%;  // Ensure actions take full width for proper alignment
}