
:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-dialog-content{
  max-height: unset !important;
  flex: 1 0 0;
}

.grid-container {

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));

}
.search {
  grid-column: 1 / -1; // Spans from the first to the last column
  width: 66.66%;
}

.scrollable-content {
  grid-column: 3;
  background-color: #f8f9fa;  // Off-white background color
  overflow-y: scroll;
  max-height: 550px;  // or consider using 100% if it's within a flex container that sizes correctly
  display: flex;
  flex-direction: column;
  padding: 16px;
  // Remove any specific negative margin adjustments that might cut off the background
  box-sizing: border-box;  // Essential for including padding in the height calculation
}

.data-card{
  grid-row: 2;
  grid-column: 1/ span 2; // First column
  width: 100%; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  /* Add below styles to ensure max width and height are respected */
  max-width: inherit; /* Ensures .dataCard respects bound max-width */
  max-height: 550px; // Example: Adjust based on your requirements
  overflow-y: scroll;
}

.title{
  font-weight: bold;
  font-size: 20px; 
  letter-spacing: -.3px;
}

.sub-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 1rem; /* Spacing below the subtitle for visual separation */
}

.card-margin {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-dialog-content {
  flex: 1;  // Allow content to expand and fill available space
  overflow-y: auto;  // Just in case content overflows
}

mat-dialog-actions {
  justify-content: flex-end;  // Align buttons to the right
  width: 100%;  // Ensure actions take full width for proper alignment
}