
  .custom-toolbar {
    border-top: 4px solid #a51e36; /* Add a red border line */
    background-color: transparent;
  }

.page-border > .top-border, .page-border > .right-border, .page-border > .bottom-border, .page-border > .left-border {
    position: fixed;
    background: #ccc;
    padding: 10px;
}

.page-border .bottom-border, .page-border .top-border {
    width: 100%;
    padding: 10px;
    left: 0;
}

.page-border .left-border, .page-border .right-border {
    height: 100%;
    padding: 10px;
    top: 0;
}

.page-border .top-border {
    top: 0;
}

.page-border .right-border {
    right: 0;
}

.page-border .bottom-border {
    bottom: 0;
}

.page-border .left-border {
    left: 0;
}
#wrapper {
  //margin:0 15px;
 // padding: 15px 0;
  position: relative;
}

.custom-background {
  position: relative;
  background-color: #f4f4f4; 
  overflow-y: auto;
  height: calc(100vh); 
}

.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  z-index: -1; 
}

.background-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-nav {
  width: 200px;
}

.side-nav-title{
  font-weight: bold;
  font-size: 15px; 
  letter-spacing: -.3px;
  color:#a51e36;
}

.side-nav-title span {
  position: relative;
  display: inline-block;
}

.side-nav-title span::after {
  content: "";
  position: absolute;
  bottom: -8px; // Adjust this to move the line closer or further from the text
  left: 0;
  width: 100%;
  border-bottom: 3px solid #a51e36;
}

.side-nav-subtitle{
  font-weight: bold;
  font-size: 13px; 
  letter-spacing: -.3px;
  color:#a51e36;
}

.side-nav-contents{
  font-weight: bold !important;
  font-size: 13px; 
  letter-spacing: -.3px;
}

.add-card{
  background-color: #a51e36;
  color: white;
  font-size: 13px; 
  letter-spacing: -.3px;
  display: flex;
  align-items: center; // This centers the child items vertically inside the flex container


  /* Adjust height and width as necessary, or let it adapt based on content */
  width: auto; // Adjust based on your layout needs, or you can specify a width
  padding: 5px; // Adds some inner space between the text/content and the border of the element
  box-sizing: border-box; // This ensures the padding and border are included in the total width and height
}


/* .underline {
  display: inline-block;
  width: 3rem;         // Set a fixed width sufficient to accommodate the largest text
  text-align: center;  // This centers the text within the fixed width
  border-bottom: 3px solid #a51e36;  // Your existing underline style
  padding-bottom: 2px;
} */
