<!-- <div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
  <div class="top-border"></div>
  <div class="left-border"></div>
  <div class="bottom-border"></div>
  <div class="right-border"></div>
</div> -->

<div id="wrapper">
  <mat-sidenav-container>
    <mat-sidenav #sidenav >
      <mat-nav-list>
        <a
          *ngFor="let nav of staticNavRoutes"
          [routerLink]="nav.route"
          mat-list-item
          (click)="sidenav.toggle()"
          >{{ nav.name }}</a>
      </mat-nav-list>

      <mat-divider></mat-divider>
  <div mat-subheader>Custom Boards:</div>
  <mat-nav-list>
    <a
      *ngFor="let nav of dynamicNavRoutes"
      [routerLink]="nav.route"
      mat-list-item
      (click)="sidenav.toggle()"
      >{{ nav.name }}</a>

      <a
      mat-list-item
      (click)="addBoard()"
      >
      Add     
      </a>
  </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="custom-background">
      <div class="background-image-container">
        <img src="../../../assets/home-images/banner-images/image.png" alt="Background Image">
      </div>
      <!-- was 300vh need a better way to scale webpage size if cards over run-->
      <div style="height: 100vh">
        <mat-toolbar class="custom-toolbar">
          <button mat-icon-button aria-label="Menu" (click)="sidenav.open()" style="color: white">
            <i class="fa fa-bars fa-1x"></i>
          </button>
    
  
          
          <button mat-icon-button aria-label="Logout" style="color: white; margin-left:auto" (click)="signout()">
            <i class="fa fa-sign-out fa-1x"></i>
          </button>
        </mat-toolbar>
        <router-outlet> </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
