
  .custom-toolbar {
    border-top: 4px solid #a51e36; /* Add a red border line */
    background-color: transparent;
  }

.page-border > .top-border, .page-border > .right-border, .page-border > .bottom-border, .page-border > .left-border {
    position: fixed;
    background: #ccc;
    padding: 10px;
}

.page-border .bottom-border, .page-border .top-border {
    width: 100%;
    padding: 10px;
    left: 0;
}

.page-border .left-border, .page-border .right-border {
    height: 100%;
    padding: 10px;
    top: 0;
}

.page-border .top-border {
    top: 0;
}

.page-border .right-border {
    right: 0;
}

.page-border .bottom-border {
    bottom: 0;
}

.page-border .left-border {
    left: 0;
}
#wrapper {
  //margin:0 15px;
 // padding: 15px 0;
  position: relative;
}

.custom-background {
  position: relative;
  background-color: #f4f4f4; 
  overflow-y: auto;
  height: calc(100vh); 
}

.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  z-index: -1; 
}

.background-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* .underline {
  display: inline-block;
  width: 3rem;         // Set a fixed width sufficient to accommodate the largest text
  text-align: center;  // This centers the text within the fixed width
  border-bottom: 3px solid #a51e36;  // Your existing underline style
  padding-bottom: 2px;
} */
