<div id="wrapper">
  <mat-sidenav-container>
    <mat-sidenav class="side-nav" #sidenav>
      <div mat-subheader class="side-nav-title">
        <span>Tide Tweet Metrics</span>
      </div>
      <mat-nav-list>
        <a
          *ngFor="let nav of allDefinedRoutes"
          [routerLink]="nav.route"
          mat-list-item
          (click)="sidenav.toggle()"
        >
          <span class="side-nav-contents">{{ nav.name }}</span>
        </a>
      </mat-nav-list>
      <div mat-subheader class="side-nav-subtitle">Custom Boards</div>
      <mat-nav-list>
        <a
          *ngFor="let nav of dynamicNavRoutes"
          class="custom-nav-item" 
          [routerLink]="nav.route"
          mat-list-item
          (click)="sidenav.toggle()"
        >
          <span class="side-nav-contents">{{ nav.name }}</span>
          <button mat-icon-button class="delete-button" (click)="$event.stopPropagation(); deleteBoard(nav);">
            x
          </button>
        </a>

        <a mat-list-item (click)="addBoard()">
          <mat-card class="add-card"> Add </mat-card>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="custom-background">
      <div class="background-image-container">
        <img
          src="../../../assets/home-images/banner-images/image.png"
          alt="Background Image"
        />
      </div>
      <!-- was 300vh need a better way to scale webpage size if cards over run-->
      <div style="height: 100vh">
        <mat-toolbar class="custom-toolbar">
          <div>
            <!-- Menu Button & Title - Already on the left side -->
            <button
              mat-icon-button
              aria-label="Menu"
              (click)="sidenav.open()"
              style="color: white"
              class="menu-button"
            >
              <i class="fa fa-bars fa-1x"></i>
            </button>
            @if (isPage) {
            <span class="title">{{ pageNameCapitalized }}</span>
            }
          </div>
          <!-- Buttons to the right -->
          <div class="right-side">
            <!-- New wrapper for right-aligned buttons -->
            @if (isDynamicRoute(pageName)) {
            <div>
              <button
                class="button-class"
                *ngIf="!(editMode | async) && (gridEditMode | async)"
                mat-raised-button
                aria-label="Save"
                color="accent"
                (click)="addGrid()"
              >
                <span class="text">Add Grid</span>
              </button>
              <button
                class="button-class"
                *ngIf="editMode | async"
                mat-raised-button
                aria-label="Edit"
                color="white"
                (click)="toggleEditMode()"
              >
                <span class="text" style="color: #a51e36">Confirm</span>
              </button>
              <button
                class="button-class"
                *ngIf="!(editMode | async) && !(gridEditMode | async)"
                mat-raised-button
                aria-label="Save"
                color="primary"
                (click)="toggleEditMode()"
              >
                <span class="text">Card Edit</span>
              </button>

              <button
                class="button-class"
                *ngIf="gridEditMode | async"
                mat-raised-button
                aria-label=" Grid Edit Edit"
                color="white"
                (click)="toggleGridEditMode()"
              >
                <span class="text" style="color: #a51e36">Confirm</span>
              </button>
              <button
                class="button-class"
                *ngIf="!(gridEditMode | async) && !(editMode | async)"
                mat-raised-button
                aria-label="Grid Edit Mode"
                color="primary"
                (click)="toggleGridEditMode()"
              >
                <span class="text">Grid Edit</span>
              </button>

              <button
                class="button-class"
                mat-raised-button
                aria-label="Update"
                color="primary"
                (click)="update()"
              >
                <span class="text">Save</span>
              </button>
            </div>
            }
            <button
              mat-icon-button
              aria-label="Logout"
              style="color: white"
              (click)="signout()"
            >
              <i class="fa fa-sign-out fa-1x"></i>
            </button>
          </div>
        </mat-toolbar>
        <router-outlet> </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
