<h2 mat-dialog-title>Add A grid</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Choose a name</mat-label>
      <input
        [(ngModel)]="nameInput"
        name="name"
        matInput
        #name
        maxlength="32"
        placeholder=""
      />
      <mat-hint align="start"
        ><strong>Cannot use grid name in use</strong>
      </mat-hint>
      <mat-hint align="end">{{ name.value.length }} / 32</mat-hint>
    </mat-form-field>
    <div style="display: block">
      <mat-button-toggle-group
        style="margin-top: 24px"
        [(ngModel)]="typeInput"
        name="fontStyle"
        aria-label="Font Style"
      >
        <mat-button-toggle value="stat">Card Grid</mat-button-toggle>
        <mat-button-toggle value="graph">Graph Grid</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [mat-dialog-close]="null">Cancel</button>
  <button
    mat-button
    [disabled]="!typeInput && !nameInput"
    [mat-dialog-close]="{ type: typeInput, name: nameInput }"
    cdkFocusInitial
  >
    Add
  </button>
</mat-dialog-actions>
