<section [class.sidenav]="isExpanded">
  <div class="toggle">
    <mat-icon (click)="toggleMenu.emit(null)">
      {{ isExpanded ? "keyboard_backspace" : "dehaze" }}
    </mat-icon>
  </div>
  <mat-list class="nav" *ngFor="let route of routeLinks">
    <a
      mat-list-item
      routerLinkActive="active-link"
      class="hover"
      routerLink="{{ route.link }}"
    >
      <mat-icon
        mat-list-icon
        matTooltipPosition="right"
      >
        {{ route.icon }}</mat-icon
      >
      <p matLine *ngIf="isExpanded">{{ route.name }}</p>
    </a>
  </mat-list>
</section>