<!-- Render cards -->
<div
  cdkDropList
  [cdkDropListData]="dataGrid.dataArr"
  [cdkDropListDisabled]="!(editMode | async)"
  class="dataCardContainer"
  (cdkDropListDropped)="dropCard($event)"
  [ngStyle]="containerStyle"
>
  <ng-container *ngFor="let displayableData of dataGrid.dataArr; let i = index">
    <ng-container>
      <app-graph-card
        [ngStyle]="{ height: cardHeight, maxWidth: maxCardWidth }"
        class="dataCard"
        (deleteEvent)="deleteCard(i)"
        #graphcard
        cdkDrag
        [displayableData]="displayableData"
        [placeHolderForEdit]="false"
      ></app-graph-card>
    </ng-container>
  </ng-container>
  <mat-card
    [ngStyle]="{ 'max-width': maxCardWidth, height: '20rem' }"
    class="card-add"
    (click)="openGraphCardDialog()"
    *ngIf="editMode | async"
  >
    <div class="icon-container">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add"
        class="custom-icon"
      ></mat-icon>
    </div>
  </mat-card>
</div>
