<!-- Render cards -->
<div
  cdkDropList
  [cdkDropListData]="dataGrid.dataArr"
  [cdkDropListDisabled]="!(editMode | async)"
  class="dataCardContainer"
  (cdkDropListDropped)="dropCard($event)"
  [ngStyle]="containerStyle"
>
  <ng-container *ngFor="let displayableData of dataGrid.dataArr; let i = index">
    <ng-container>
      <app-stat-card
        [ngStyle]="{ 'max-width': maxCardWidth, height: cardHeight }"
        class="dataCard"
        #statcard
        cdkDrag
        [displayableData]="displayableData"
        [editModeHook]="true"
        [class.grid-delete-hover]="isDeleteHovered"
        (deleteEvent)="deleteCard(i)"
      ></app-stat-card>
    </ng-container>
  </ng-container>

  <mat-card
    [ngStyle]="{ 'max-width': maxCardWidth, height: cardHeight }"
    class="card-add"
    (click)="openStatCardDialog()"
    *ngIf="editMode | async"
  >
    <div class="icon-container">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add"
        class="custom-icon"
      ></mat-icon>
    </div>
  </mat-card>

  <mat-card
    matTooltip="Double click to delete card grid"
    [ngStyle]="{ 'max-width': maxCardWidth, height: cardHeight }"
    (mouseenter)="onDeleteHover(true)"
    (mouseleave)="onDeleteHover(false)"
    (dblclick)="deleteGrid()"
    *ngIf="gridEditMode | async"
  >
    <div class="icon-container">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="delete"
        class="custom-icon"
      ></mat-icon>
    </div>
  </mat-card>
</div>
