<div class="title-container">
  <h2 class="title">Optimizer</h2>
</div>

<mat-card class="card-container">
  <div class="card-content">
    <div class="card-title" style="margin-top: 2rem; margin-bottom: 1rem">
      Welcome to the Optimizer, a powerful tool designed to enhance the quality
      of tweets
    </div>
    <mat-progress-bar *ngIf="isRunning" mode="indeterminate"></mat-progress-bar>
  </div>
  <div style="margin: 16px">
    <mat-form-field class="example-full-width">
      <mat-label>Input tweet here</mat-label>
      <textarea
        matInput
        [(ngModel)]="inputTweet"
        style="height: 280px"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="submitTweet()"
      style="float: right"
    >
      Submit
    </button>
  </div>

  <div>
    <mat-card class="optimizer-output inner-content">
      <div class="text" style="margin: 1rem 2rem 1rem 1rem">
        Heres the improved text!
      </div>
      <span class="green-arrow">
        <i class="fa fa-arrow-up"> 10% </i>
      </span>
    </mat-card>
  </div>

  <div>
    <mat-card class="optimizer-output inner-content">
      <div class="text" style="margin: 1rem 2rem 1rem 1rem">And another!</div>
      <span class="green-arrow">
        <i class="fa fa-arrow-up"> 10% </i>
      </span>
    </mat-card>
  </div>

  <div>
    <mat-card class="optimizer-output inner-content">
      <div class="text" style="margin: 1rem 2rem 1rem 1rem">And another!</div>
      <span class="red-arrow">
        <i class="fa fa-arrow-down"> 10% </i>
      </span>
    </mat-card>
  </div>

  <div class="footer"></div>
</mat-card>
