<div class="title-container">
  <h2 class="title">Optimizer</h2>
</div>

<mat-card class="card-container">
  <div class="card-content">
    <mat-progress-bar *ngIf="isRunning" mode="indeterminate"></mat-progress-bar>
  </div>
  <div style="margin: 16px">
    <mat-form-field class="form-field">
      <mat-label>Tweet Post Date</mat-label>
      <input matInput [matDatepicker]="picker3" [value]="date.value" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker3"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Tweet Post Time</mat-label>
      <select matNativeControl [(ngModel)]="selectedTime">
        <option value="1">1 AM</option>
        <option value="2">2 AM</option>
        <option value="3">3 AM</option>
        <option value="4">4 AM</option>
        <option value="5">5 AM</option>
        <option value="6">6 AM</option>
        <option value="7">7 AM</option>
        <option value="8">8 AM</option>
        <option value="9">9 AM</option>
        <option value="10">10 AM</option>
        <option value="11">11 AM</option>
        <option value="12">12 PM</option>
        <option value="13">1 PM</option>
        <option value="14">2 PM</option>
        <option value="15">3 PM</option>
        <option value="16">4 PM</option>
        <option value="17">5 PM</option>
        <option value="18">6 PM</option>
        <option value="19">7 PM</option>
        <option value="20">8 PM</option>
        <option value="21">9 PM</option>
        <option value="22">10 PM</option>
        <option value="23">11 PM</option>
        <option value="24">12 AM</option>
      </select>
    </mat-form-field>

    <div style="display: block">
      <mat-form-field class="form-field">
        <mat-label>Photo Count</mat-label>
        <input matInput type="number" [(ngModel)]="photoCount" />
        @if (photoCount) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="photoCount = 0"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Video Count</mat-label>
        <input matInput type="number" [(ngModel)]="videoCount" />
        @if (videoCount) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="videoCount = 0"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Input tweet here</mat-label>
      <textarea
        matInput
        [(ngModel)]="inputTweetText"
        style="height: 180px"
      ></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="submitTweet()"
      style="float: right"
    >
      Optimize
    </button>
  </div>
</mat-card>

@if (improvementTree) {
<mat-card class="card-container">
  <div class="card-content">
    <div class="card-title" style="margin-top: 2rem; margin-bottom: 1rem">
      Improved tweets
    </div>
    <p>% change denotes increase or decrease in estimated like count</p>
    <mat-divider style="margin-bottom: 16px"> </mat-divider>

    @for (node of topNodes; track node.text; let idx = $index ) { @if
    (calc_prediction_improvement(node) > 0) {
    <div>
      <mat-card class="inner-content">
        <div class="text" style="margin: 1rem 2rem 1rem 1rem">
          {{ node.text }}
        </div>
        <span class="green-arrow">
          <i class="fa fa-arrow-up">
            {{ calc_prediction_improvement(node).toString() }}%</i
          >
        </span>
      </mat-card>
    </div>
    } @else if (calc_prediction_improvement(node) < 0) {
    <div>
      <mat-card class="inner-content">
        <div class="text" style="margin: 1rem 2rem 1rem 1rem">
          {{ node.text }}
        </div>
        <span class="red-arrow">
          <i class="fa fa-arrow-down">
            {{ calc_prediction_improvement(node).toString() }}%</i
          >
        </span>
      </mat-card>
    </div>
    } @else {

    <div>
      <mat-card class="inner-content">
        <div class="text" style="margin: 1rem 2rem 1rem 1rem">
          {{ node.text }}
        </div>
        <span class="gray-arrow">
          <i class="fa fa-arrow-right">
            {{ calc_prediction_improvement(node).toString() }}%</i
          >
        </span>
      </mat-card>
    </div>
    } } @if(showingAllNodes === false) {
    <div style="margin: 16px; padding: 16px">
      <button
        mat-raised-button
        color="primary"
        (click)="showAllNodes()"
        style="float: right; bottom: 16px"
      >
        Show All Tweets
      </button>
    </div>
    } @else {
    <div style="margin: 16px; padding: 16px">
      <button
        mat-raised-button
        color="primary"
        (click)="showTopNodes()"
        style="float: right; bottom: 16px"
      >
        Show Top Tweets
      </button>
    </div>
    }
  </div>
</mat-card>
}
