<h2 mat-dialog-title class="title">Add Card</h2>

<mat-dialog-content class="mat-typography">
  <!-- Search Bar -->
  <app-metric-search
    class="search"
    (searchValueChanged)="onSearchValueChange($event)"
  ></app-metric-search>
  <div class="grid-container">
    <!-- Section for Recommended Displayables-->
    <div class="recommend-cards">
      <!-- Title for Recommended Cards -->
      <h3 class="sub-title">Recommended Cards</h3>
      <app-simple-stat-grid
        (cardClicked)="addCard($event)"
        [dataArr]="reccommendedDisplayables"
      ></app-simple-stat-grid>
    </div>

    <!-- Section for Displaying Added Displayables -->
    <div class="scrollable-content">
      <!-- Title for Selected Cards -->
      <h3 class="sub-title">Selected Cards</h3>
      <app-simple-stat-grid
        (cardClicked)="removeCard($event)"
        [dataArr]="addedDisplayables"
      ></app-simple-stat-grid>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button [mat-dialog-close]="addedDisplayables" cdkFocusInitial>
    Add
  </button>
</mat-dialog-actions>
