.example-spacer {
    flex: 1 1 auto;
  }

.custom-toolbar {
  background-color: rgba(21,26,45,255); /* Change the background color to a desired color */
  color: white; /* Change the text color to ensure readability */
}