<div class="centered-container">
    <div class="card-container">
        <mat-card>
            <div class="content-container">
                <p class="text">Please ask the admin to authorize you. Please return home or logout.</p>
                <div class="button-container">
                    <div class="left-button">
                        <button mat-raised-button  class="button" [ngStyle]="{'color': '#a51e36'}" (click)="goHome()">Click to go home</button>
                    </div>
                    <div class="right-button">
                        <button mat-raised-button color="primary" class="button2" (click)="signout()">Click to logout</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
