<div id="header" class="nav-collapse">
    <div class="row clearfix">
        <div class="col-1">

            <!--Logo-->
            <div id="logo">

                <!--Logo that is shown on the banner-->
                <img src="./assets/images/logo.png" id="banner-logo" alt="Landing Page"/>
                <!--End of Banner Logo-->

                <!--The Logo that is shown on the sticky Navigation Bar-->
                <div id="logo">
                    <img src="./assets/images/logo-2.png" id="navigation-logo" alt="Landing Page" style="width: 50px; height: auto;" />
                    <span>TIDE TWEET METRICS</span>
                </div>

                <!--End of Navigation Logo-->

            </div>
            <!--End of Logo-->

            <!--Main Navigation-->
            <nav id="nav-main">
                <ul>
                    <li>
                        <a href="#banner">Home</a>
                    </li>
                    <li>
                        <a href="#dashboard">Dashboard</a>
                    </li>

                    <!--
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#testimonials">Testimonials</a>
                    </li>
                    <li>
                        <a href="#clients">Clients</a>
                    </li>
                    <li>
                        <a href="#pricing">Pricing</a>
                    </li>
                    -->
                </ul>
            </nav>
            <!--End of Main Navigation-->

            <div id="nav-trigger"><span></span></div>
            <nav id="nav-mobile"></nav>

        </div>
    </div>
</div><!--End of Header-->
