// Remove empty ruleset for mat-card
@use '@angular/material' as mat;


  .card{
    padding: 1rem 1.5rem 0rem;
    @include mat.elevation(10);
    height: 100%;

  }
  
  
  .card::before {
    content: "";
    position: absolute;
    bottom: 0; /* Move the line to the bottom */
    left: 0; /* Keep the line at the left edge of the card */
    width: 100%; /* Set the width to cover the entire bottom */
    height: .3rem; /* Set the height of the line */
    background-color: #a51e36;
  }
  

.add-card {
  padding: 1rem 1.5rem 0rem;
  @include mat.elevation(10);
  opacity: 0.75;
}


.add-card::before {
  content: "";
  position: absolute;
  bottom: 0; /* Move the line to the bottom */
  left: 0; /* Keep the line at the left edge of the card */
  width: 100%; /* Set the width to cover the entire bottom */
  height: .3rem; /* Set the height of the line */
  background-color: #35a51e;
  opacity: 0.75;
}
.icon-container {
  display: flex; /* Enable flexbox for the container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Make sure it occupies full parent's height */
}

.custom-icon {
  transform: scale(5);
}