

<mat-card class="card" *ngIf="placeHolderForEdit == false" style="height: 100%">

  <!-- <ng-container *ngIf="displayableData?.type === 'graph-pie'">
    <p> This is a pie graph </p>
  </ng-container> -->

  <ng-container class="card" *ngIf="isLineGraph(displayableData)">
    <app-line-chart [displayableData]="displayableData" ></app-line-chart>
  </ng-container>


  <ng-container *ngIf="isBarGraph(displayableData)">
    <app-bar-chart [displayableData]="displayableData"></app-bar-chart>
  </ng-container>

</mat-card>


<mat-card class="add-card" *ngIf="placeHolderForEdit == true" style="height: 20rem">

  <div class="icon-container">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add" class="custom-icon"></mat-icon>
  </div>

</mat-card>

