<div class="dashboardContainer">
  <div class="title-container">
    
  </div>

  @if (isEmpty$() | async) {
  <div style="background-color: rgba(140, 140, 140, 0.3)">
    <h1 style="margin-top: 0px">
      EMPTY CARDSSSS SHIT TRAVISSSSSSsssssssssssssssssssssssssssssssssSS
    </h1>
  </div>
  }
  <div
    cdkDropList
    [cdkDropListData]="localGrids"
    (cdkDropListDropped)="drop($event)"
  >
    <div *ngFor="let grid of grids$ | async; let isFirst = first">
      <div
        class="grid-container"
        cdkDragLockAxis="y"
        cdkDrag
        [cdkDragDisabled]="!gridEditMode"
      >
        <h2 class="title-black" [style.color]="isFirst ? 'white' : null">
          {{ grid.name.charAt(0).toUpperCase() + grid.name.slice(1) }}
        </h2>

        @if (grid.type == 'stat') {
        <app-card-grid
          [page]="(pageName$ | async)!"
          [name]="grid.name"
          cardHeight="8rem"
          maxColSize="1fr"
          minColSize="18rem"
        ></app-card-grid>
        } @else {
        <app-graph-grid
          [page]="(pageName$ | async)!"
          [name]="grid.name"
          [cardHeight]="'auto'"
          [maxColSize]="'1fr'"
          [minColSize]="'36rem'"
        ></app-graph-grid>
        }
      </div>
    </div>
  </div>
</div>


<div class="footer"></div>