<div class="dashboardContainer">
  <div class="title-container">
    <h2 class="title">Dashboard</h2>
    <div>
        <button mat-raised-button aria-label="Edit" color="primary" (click)="toggleEditMode()">
          <span class="text">Edit</span>
        </button>
        <button mat-raised-button aria-label="Update" color="primary" (click)="update()">
          <span class="text">Update</span>
        </button>
    </div>
</div>


  <app-card-grid  [page]="'home'" [name]="'dashboard'" [cardHeight]="'128px'" [maxColSize]="'1rem'" [minColSize]="'240px'"></app-card-grid>
  <app-graph-grid [page]="'home'" [name]="'dashboard'" [cardHeight]="'auto'" [maxColSize]="'1fr'" [minColSize]="'160px'"></app-graph-grid>


  <!-- will get rid of this eventually-->
  <!-- <div cdkDropList [cdkDropListData]="cardGrid.dataArr" [cdkDropListDisabled]="!(editMode | async)" class="dataCardContainer" (cdkDropListDropped)="dropCard($event)">
    <ng-container *ngFor="let displayableData of cardGrid.dataArr;  let i = index">
      <ng-container *ngIf="isCard(displayableData)">
        <app-stat-card #statcard cdkDrag [displayableData]="displayableData" [placeHolderForEdit]="false"></app-stat-card>
      </ng-container>
    </ng-container>

    <app-stat-card (click)="openStatCardDialog()" *ngIf="editMode | async" [displayableData]="cardGrid.dataArr[0]" [placeHolderForEdit]="true"></app-stat-card>
  </div>


  <div class="graphContainer">
    <ng-container *ngFor="let displayableData of graphGrid.dataArr">
      <ng-container *ngIf="isGraph(displayableData)">
        <app-graph-card [displayableData]="displayableData" [placeHolderForEdit]="false"></app-graph-card>
      </ng-container>
    </ng-container>

    <app-graph-card (click)="openGraphCardDialog()" *ngIf="editMode | async" [displayableData]="graphGrid.dataArr[0]" [placeHolderForEdit]="true"></app-graph-card>
  </div>
</div> -->

<div class="footer">

</div>
