<mat-grid-list cols="1" rowHeight="200px">
  <mat-grid-tile>
    <mat-card> testing </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="{{graph_cols}}" rowHeight="2:1" class="custom-grid-list1" gutterSize ="0px">
    <mat-grid-tile *ngFor="let graph of graphs">
      <mat-card class="full-width-height-card">
        <!-- Display bar chart if graph.type is 'bar' -->
        <app-bar-chart *ngIf="graph.type === 'bar'" [graph]="graph"></app-bar-chart>
        <!-- Display line chart if graph.type is 'line' -->
        <app-line-chart *ngIf="graph.type === 'line'" [graph]="graph"></app-line-chart>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
<mat-grid-list cols="1" rowHeight="1000px">
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>