<div class="grid-container">
  <mat-card-content class="title-card"  mat-elevation="0">
    <div class="title-text">Dashboard</div>
  </mat-card-content>



  <mat-grid-list cols="3" rowHeight="300px" gutterSize="0px">
    <mat-grid-tile>
      <mat-card class="small-tile">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Your Metric Score Is: 00</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>VIEW METRIC HISTORY</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="small-tile"><mat-card-title>Thanks for the {{this.number_submits}} data points. Apologies if any of the tweets came across as harsh.</mat-card-title></mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="small-tile">3</mat-card>
    </mat-grid-tile>

</mat-grid-list>
  

  



<mat-grid-list cols="{{graph_cols}}" rowHeight="2:1" class="custom-grid-list1" gutterSize ="0px">
    <mat-grid-tile *ngFor="let graph of graphs">
      <mat-card class="big-tile">
        <!-- Display bar chart if graph.type is 'bar' -->
        <app-bar-chart *ngIf="graph.type === 'bar'" [graph]="graph"></app-bar-chart>
        <!-- Display line chart if graph.type is 'line' -->
        <app-line-chart *ngIf="graph.type === 'line'" [graph]="graph"></app-line-chart>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
<mat-grid-list cols="1" rowHeight="1000px">
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>

</div>