
:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}




.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.search-container {
  display: flex; // This turns the container into a flex container
  justify-content: space-between; // This spreads the children evenly, with space between them
  width: 100%; // Ensures the container takes up the full width
  gap: 1rem; // Optional: Adds some space between the two search bars
  margin: 0rem 2rem 1rem 2rem;
  width: calc(100% - 4rem);
}

.search-bar, .owner-search {
  flex: 1; // This makes both children take up equal space in the container
  min-width: 0; // Prevents flex items from overflowing their container
  // You can adjust or remove the max-width from these elements as necessary
}

  .scrollable-content, .recommend-cards {
    background-color: #ECECEC;
    
    overflow-y: auto; // Keeps their own scrollbar as specified
    -webkit-overflow-scrolling: touch; 
    padding: 1rem;
    max-height: 60vh; // Consider removing or adjusting max-height for better flexibility
  }

.title{
  font-weight: bold;
  font-size: 20px; 
  letter-spacing: -.3px;
}

.sub-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 1rem; /* Spacing below the subtitle for visual separation */
}

.card-margin {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.content{
  overflow-y: hidden;
}

mat-dialog-actions {
  justify-content: flex-end;  // Align buttons to the right
  width: 100%;  // Ensure actions take full width for proper alignment
}

