<mat-card class="card" *ngIf="displayableData" style="height: 100%">

  <ng-container *ngIf="displayableData?.type === 'graph-pie'">
    <p> This is a pie graph </p>
  </ng-container>

  <ng-container class="card" *ngIf="displayableData?.type === 'graph-line'">
    <app-line-chart [displayableData]="displayableData" ></app-line-chart>
  </ng-container>


  <ng-container *ngIf="displayableData?.type === 'graph-bar'">
    <app-bar-chart [displayableData]="displayableData"></app-bar-chart>
  </ng-container>
</mat-card>


