.title{
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 15px;
    font-weight: bolder;
    color: white;
    font-size: 25px !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 33.33%;
    
}

.card-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .3rem;
    height: 100%;
    background-color: #a51e36;
}

.card {
    margin: 2rem;
}

.card-title{
    font-weight: bold;
    letter-spacing: -.3px; 
    color: #999;
    width: 150px; 
    display: inline-block; 
    text-align: right; 
    margin-bottom: 0rem;
}

.card-text{
    font-weight: bold;
    font-size: 15px; 
    letter-spacing: -.3px; 
    width: 150px; 
    display: inline-block; 
    text-align: right; 
    margin-top: 1;
}

.input{
    width: 20rem;
    height: 4rem;
    line-height: 0px;
    font-size: 12px;
    margin-left: 2rem;
}

.email{
    font-size: 15px;
    letter-spacing: -.3px; 
    margin-left: 2rem;
}

.input-container {
    display: flex;
    align-items: center; 
    margin-top: 1rem;
}

.checkbox {
    margin-left: 1.5rem;
}

.card-container button {
    margin-left: 1rem; 
}


