.title{
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 15px;
    font-weight: bolder;
    color: white;
    font-size: 25px !important;
}

.title-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space elements horizontally */
}

.grid-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-left: 100px
    margin-right: 100px

}


.container-content {
    margin: 2rem;
    
}

.card-container::before {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: .3rem;
    background-color: #a51e36;
}
  

.my-account{
    font-weight: bold;
    letter-spacing: -.3px; 
    color: #999;
    width: 100px; 
    display: inline-block; 
    text-align: right; 
    margin-bottom: 0rem;
}

.content{
    font-weight: bold;
    font-size: 15px; 
    letter-spacing: -.3px; 
    width: 100px; 
    display: inline-block; 
    text-align: right; 
}

.input{
    width: 25rem;
    height: 4rem;
    line-height: 0px;
    font-size: 12px;
    margin-left: 2rem;
}

.input-container {
    display: absolute;
    align-items: center; 
}
