.title{
    margin-left: 100px;
    margin-top: 80px;
    font-weight: bolder;
    color: white;
}
  
.title-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space elements horizontally */
}

.update-button {
    margin-right: 100px;
    margin-bottom: 15px;
    align-self: flex-end;
  }

.dataCardContainer {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-flow: dense;
    justify-content: center;
    
}

.graphContainer {
    margin-top: 40px; /* Adjust margin to match the spacing of the cards */
    margin-left: 100px; /* Adjust margin to match the spacing of the cards */
    margin-right: 100px; /* Adjust margin to match the spacing of the cards */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(15rem, 1fr));
    grid-auto-flow: dense;
    justify-content: center;
 
}

.graphItemCol--double {
    grid-column: span 2; /* Make this item span two columns */
}
