
<div class="dashboardContainer">
  <h2 class = "title">Dashboard</h2>
  <div class="dataCardContainer">
    <div class = "" *ngFor="let displayableData of displayableDataArr$ | async">
      <app-datacard [displayableData]="displayableData"></app-datacard>
      <!-- class="graphItemCol--double"-->
    </div>
  </div>

  <div class="graphContainer">
    <div *ngFor="let displayableData of displayableDataArr$ | async">
      <app-graph-card [displayableData]="displayableData"></app-graph-card>
    </div>
  </div>
</div>
