<div class="dashboardContainer">
  <div class="title-container">
    <h2 class="title">Dashboard</h2>
    <button mat-raised-button class="update-button" color = "primary" aria-label="Update">
      Update
    </button>
  </div>

  <!-- Render cards -->
  <div cdkDropList [cdkDropListData]="displayableDataArr"  class="dataCardContainer" (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let displayableData of displayableDataArr;  let i = index">
      <ng-container *ngIf="isCard(displayableData)">
        <app-datacard  cdkDrag [displayableData]="displayableData"></app-datacard>
      </ng-container>
    </ng-container>
  </div>

  <!-- Render graphs -->
  <div class="graphContainer">
    <ng-container *ngFor="let displayableData of displayableDataArr">
      <ng-container *ngIf="isGraph(displayableData)">
        <app-graph-card [displayableData]="displayableData"></app-graph-card>
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="footer">
 
</div>
