

<mat-card class="elevation" [ngClass]="{'shake': (editMode | async)}" *ngIf="placeHolderForEdit == false" style="height: 8rem">

  <ng-container *ngIf="isStatValue(displayableData)">
    <app-stat-value [displayableData]="displayableData"></app-stat-value>
  </ng-container>
  

  <ng-container *ngIf="isStatTrend(displayableData)">
    <app-stat-trend [displayableData]="displayableData"></app-stat-trend>
  </ng-container>

  <ng-container *ngIf="isStatComp(displayableData)">
    <app-stat-comp [displayableData]="displayableData" ></app-stat-comp>
  </ng-container>
</mat-card>



<mat-card class="add-card" *ngIf="placeHolderForEdit == true" style="height: 8rem">

  <div class="icon-container">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add" class="custom-icon"></mat-icon>
  </div>

</mat-card>
