

<mat-card class="elevation" [ngClass]="{'shake': (editMode | async)}" *ngIf="placeHolderForEdit == false">

  <button *ngIf="editMode | async" mat-icon-button class="delete-icon" (click)="onDelete()">
    <mat-icon>close</mat-icon>
  </button>
  

  <ng-container *ngIf="isStatValue(displayableData)">
    <app-stat-value [displayableData]="displayableData"></app-stat-value>
  </ng-container>
  

  <ng-container *ngIf="isStatTrend(displayableData)">
    <app-stat-trend [displayableData]="displayableData"></app-stat-trend>
  </ng-container>

  <ng-container *ngIf="isStatComp(displayableData)">
    <app-stat-comp [displayableData]="displayableData" ></app-stat-comp>
  </ng-container>
</mat-card>


