<mat-card class="card" *ngIf="placeHolderForEdit == false" style="height: 100%">
  <button
    *ngIf="editMode | async"
    mat-icon-button
    class="delete-icon"
    (click)="onDelete()"
  >
    <mat-icon>close</mat-icon>
  </button>

  <ng-container class="card" *ngIf="isLineGraph(displayableData)">
    <app-line-chart [displayableData]="displayableData"></app-line-chart>
  </ng-container>

  <ng-container *ngIf="isBarGraph(displayableData)">
    <app-bar-chart [displayableData]="displayableData"></app-bar-chart>
  </ng-container>
</mat-card>
