.cdk-drag:not(.cdk-drag-preview) {
  transform: none !important;
}

.cdk-drag-placeholder {
  opacity: 0.65;
}



.icon-container {
  display: flex; /* Enable flexbox for the container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Make sure it occupies full parent's height */
}

.custom-icon {
  transform: scale(2.5);
}

.card-add{
  display: flex;
  flex-direction: column;
}

.card-add::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: .3rem;
height: 100%; 
background-color: #a51e36;
}

.dataCardContainer {
  margin: 32px 256px 0px 256px;
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  justify-content: left;
  
}

.dataCard{
  width: 100%; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  /* Add below styles to ensure max width and height are respected */
  max-width: inherit; /* Ensures .dataCard respects bound max-width */
  height: inherit; /* Ensures .dataCard respects bound height */
}


