@use '@angular/material' as mat;

.card{
  padding: 1rem 1.5rem 0rem;
}

.card-title{
  font-weight: bold;
  letter-spacing: -.3px; 
  color: #999;
  margin-bottom: 0rem;
}

.card-value{
  font-size: 25px; 
  font-weight: 600;
  letter-spacing: -.3px; 
  margin-bottom: 0rem;
}

.card-footer{
    font-size: 11px; 
    color: #bbb;
    margin-top: .3rem;
    margin-bottom: .2rem;
}


.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .3rem;
  height: 100%; 
  background-color: #a51e36;
}

.green-arrow {
    font-weight: bold;
    color: #52d2a9;
    margin-right: .4rem;
}
  
.red-arrow {
    font-weight: bold;
    color: #f44156;
    margin-right: .4rem;
}

